body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: white;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

.carousel-item img {
    height: 50px;
    object-fit: cover;
}
